:root {
    --primary-color: #0A1128;
    --white-color: #fff;
    --light-gray-color: #EEEEEE;
    --secundary-color:darkblue;
    --nav-color: #0a0ded;
    --gap: 3rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
} 

body {
    font-family: 'Archivo', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
}

.main-bg {
    background-image: url('../img/rainbow-vortex.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.section {
    min-height: 100vh;
    /* padding: 10rem 9% 2rem; */
}

.menu{
    /*display: block;*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.01rem solid var(--light-gray-color);
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
    cursor: default;
}

.menu h1 a {
    color: inherit;  /* inherit color of class menu h1 */
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
    transition: .3s;
}

.menu ul li a:hover {
    color: var(--nav-color);
}

.menu ul li a::after { /* ::after says that in the end of each a tag, it will add a underline effect */
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secundary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.menu-spacing {
    height: 6.5rem;
}

.intro-content{
    position: relative;
    /*top: -8rem;*/
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img, .intro-img svg {
    max-width: 100%;
    height: auto;
}

.home {
    display: flex;
    justify-content: center;
}


.top3-content {
    max-width: 64rem;
    display: flex;  /* I changed of flex to block */
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;

}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
}

.grid_company {
    display: grid;
    grid-template-columns: repeat(2,auto);
}

.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-description {
    padding-bottom: 5rem;
}

.grid-main-heading {
    margin-bottom: 1rem;
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow-x: visible;
}

.gallery-img img{
    transition: all 300ms ease-in-out;

}

.gallery-img img:hover{
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
    
}

/* .responsive-table{
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
} */

body .full-width{
    width: 100%;
    flex: 1 1 100%;
}

table {
    min-width: 360px;
    width: 100%;
    border-collapse: collapse;
}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

table td, table th {
    white-space: nowrap;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid var(--light-gray-color);
    
}

tfoot td, table th {
    background: var(--light-gray-color);
}

.contact-form {
    grid-column: span 2;
}

.form-grid legend{
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-group {
    flex: 1 1 320px;
}


.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
    border:none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 15px 10px var(--secundary-color);
}

.form-group button {
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background: var(--white-color);
    color: var(--primary-color);
}

.form-group ::placeholder {
    color: var(--light-gray-color);
}

#footer {
    text-align: center;
    font-size: 1.6rem;
}

#footer a {
    color: #444;
}

#footer p{
    margin: 0;
    padding: 3rem;
}

.heart {
    color: red;
}

.close-menu {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    border: 0.1rem solid var(--primary-color);
}

@media (max-width:800px){
    .intro-content, .grid {
        grid-template-columns: 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img{
        width: 100%;
    }

    .grid-one-content {
        display: block;
    }

    .menu {
        bottom: 0;
        text-align: center;
    }

    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .close-menu-label::after {
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }
     
    /*×*/
    .close-menu:checked~.menu {
        display: block;

    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }

    .menu-spacing {
        display: none;
    }
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Merriweather Sans', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}
h6 {
    font-size: 3.5rem;
}

p {
    margin-bottom: 3rem;
}

.video_agenda {
    display: block;
    width: 100%;
    height: auto;
    justify-content: center;
}
